
<h1>sign up</h1>
<form action="<%= users_url %>", method="post">
  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">
  <p><label name="email">email:</label>
    <input type="text" name="user[email]" id="email"></p>
  <p><label name="password">password:</label>
    <input type="password" name="user[password]" id="password">
  </p>
  <input type="submit" value="sign up">
</form>
